html, body {
    min-width: 400px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.body--container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    font-family: Roboto,Open Sans,arial,sans-serif;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 6px;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

.linkAbout {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
    margin-left: 15px ;
}

.linkStore {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}

.rightContainer {
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    color: rgba(0,0,0,0.87);
    display: flex;
    height: 48px;
    flex-grow: 1;
    display: inline-block;
    position: relative;
    justify-content: flex-end;
    min-width: auto;
}

.farRightContainer {
    white-space: nowrap;
    box-align: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    justify-content: flex-end;
    float: right;
    padding-left: 0;
}

.rightLinksText {
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
}

.gmailContainer {
    display: inline-block;
    padding-left: 15px;
}

.imagesContainer {
    display: inline-block;
    padding-left: 15px;
}

.linkGmail {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.linkImages {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.fancyButtonsContainer {
    position: relative;
    float: right;
}

.svgNineButton {
    display: inline;
}

.svgNineButtonContainer {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    padding-left: 4px;
}

.svgNineButtonBox {
    position: relative;
}

.productLink {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    padding: 8px;
    background-position: -64px -29px;
    opacity: 1;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.svgNineButtonImage {
    fill: currentColor;
    color: #5f6368;
    opacity: 1;
}

.signInButton {
    display: inline-block;
    outline: none;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    background: #1a73e8;
    border: 1px solid transparent;
    margin-left: 8px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.rightHiddenContainer {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 328px;
    z-index: 991;
    height: 0px;
    margin-top: 57px;
    transform: height 0.3s ease-in-out 0s;
    right: 0px;
    margin-right: 4px;
    max-height: calc(-6px + 100vh);
    visibility: hidden;
}

.midLogoSection {
    flex-shrink: 0;
    box-sizing: border-box;
}

.maxMidHeight {
    max-height: 290px;
    height: calc(100% - 560px);
}

.minMidHeight {
    min-height: 92px;
}

.midItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.midLogoCenter {
    height: 100%;
    margin-top: auto;
    max-height: 92px;
    position: relative;
}

.google-logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.search {
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 160px;
    padding: 20px;
}

.search--container {
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
}

.search-textbox--container {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.search-textbox--border {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.search-icon--container {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-icon--border {
    margin: auto;
}

.search-icon--elem {
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.search-icon--svg {
    display: block;
    height: 100%;
    width: 100%;
}

.search-form--container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.search-form--elem {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height:34px;
}

.search-form__input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.search-form-outer {
    display: flex;
    flex: 0 0 auto;
    margin-top: 5px;
    align-items: stretch;
    flex-direction: row;
}

.search-btn-container {
    padding-top: 18px;
    height: 70px;
}

.google-search-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4843;
    margin: 11px 4xp;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.lucky-search-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4843;
    margin: 11px 4xp;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.section-bottom-half {
    flex-shrink: 0;
    box-sizing: border-box;
    flex-grow: 1;
}

.footer--container {
    flex-shrink: 0;
    box-sizing: border-box;
    background: #f2f2f2;
}

.country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

footer {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ad-link {
    text-decoration: none;
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
}

.business-link {
    text-decoration: none;
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
}

.how-search-works-link {
    text-decoration: none;
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
}

.privacy-link {
    text-decoration: none;
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
}

.terms-link {
    text-decoration: none;
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
}

.settings-link {
    text-decoration: none;
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
}

.hidden {
    height: 0;
    overflow: hidden;
}

.hidden--container {
    z-index: 1001;
    position: absolute;
    top: -1000px;
}


